<p>Compare the results for the alternative splicing anlaysis.</p>
<p>The following venn diagram shows the common genes found alternative splicied in each of the tools. </p>
<p>Choose the tools in the right hand side to show the corresponding genes. Select "All" in the first selection to show the common genes of all tools.</p>