<p>Differential expression analysis with DESeq2</p>
<p>DESeq2 employs a negative binomial generalized linear modeal to test differentially expressed genes. </p>

<p>Detailed description of <a href="https://bioconductor.org/packages/release/bioc/vignettes/DESeq2/inst/doc/DESeq2.html#why-un-normalized-counts">DESeq2</a></p>