<p>DEXSeq to detect differential exon usage. </p>
<p>DEXSeq uses flattened gene model and counting bins of reads that overlap with the exons. Then a generalized linear model is employed to model the read counts./p>
<p>Read more about <a href="https://bioconductor.org/packages/release/bioc/html/DEXSeq.html">DEXSeq</a></p>