<p>IsoformSwitchAnalyzeR detects isoform switches.</p>
<p>IsoformSwitchAnalyzeR was incoparated with DEXSeq and DRIM-Seq for different isoform usage. By providing corresponding GTF and genome fasta file, it allows a genome-wide analysis in alternative splicing: A3 (alternative 3'end), A5 (alternative 5'), ATSS (alternative splicing site), ATTS (alternative termination site), ES (exon skipping), MEE (mutual exclusive exons) and MES (mutual exon skipping). </p>
<p>Read more about <a href="https://bioconductor.org/packages/release/bioc/html/IsoformSwitchAnalyzeR.html">IsoformSwitchAnalyzeR</a></p>