<p> STAR aligner aligns reads to transcriptome. It aligned reads in two steps: </p>
<ul>
  <li>Generate a genome indexes with genome FASTA and annotation GTF.</li>
  <li>Mapping reads to the genome</li>
</ul>
<p>More about STAR can be found here : <a href="https://physiology.med.cornell.edu/faculty/skrabanek/lab/angsd/lecture_notes/STARmanual.pdf">STAR Manual</a> </p>
<p> Kallisto quantifies transcript expression without the need of alignment. It is based on a concept called pseudoalignment. </p>
<p>More about <a href="https://github.com/pachterlab/kallisto">Kallisto</a></p>